body{
    margin: 0;
    background-color: #e3e3e3;
}
#grey-box{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 3;
    visibility: hidden;
}

#page-title {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 2rem;
    left: 57rem;
    z-index: 1;
}

#app{
    position: absolute;
    display: flex;
    width: 80rem;
    height: 50rem;
    transform: translate(-50%, -50%);
    left: 70rem;
    top: 35rem;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

#scoreboard-and-chat-container{
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 40rem;
    justify-content: space-between;
}